@{
    ViewData["Title"] = "15-06";
}

<div class="container-fluid py-3">

    <!-- Tiêu đề -->
    <div class="mb-4">
        <textarea id="TieuDe" name="TieuDe"
                  rows="3"
                  class="form-control bg-light text-center">
            Tờ trình xin chủ trương
        </textarea>
    </div>

    <!-- Số tờ trình -->
    <div class="row align-items-center mb-4 g-2">

        <label class="col-auto col-form-label">Số:</label>
        <div class="col-auto">
            <input id="SoToTrinh" name="SoToTrinh" value="/TTr-SXKD" class="form-control text-center" />
        </div>

        <label class="col-auto col-form-label ms-3">Ngày:</label>
        <div class="col-1">
            <input id="NgayToTrinh" name="NgayToTrinh" value="@DateTime.Now.Day" class="form-control text-center" />
        </div>

        <label class="col-auto col-form-label">Tháng:</label>
        <div class="col-1">
            <input id="ThangToTrinh" name="ThangToTrinh" value="@DateTime.Now.Month" class="form-control text-center" />
        </div>

        <label class="col-auto col-form-label">Năm:</label>
        <div class="col-1">
            <input id="NamToTrinh" name="NamToTrinh" value="@DateTime.Now.Year" class="form-control text-center" />
        </div>
    </div>

    <!-- Dự án -->
        <div class="row mb-3">

        <label class="col-md-3 col-form-label text-md-end">
            Dự án:
        </label>

        <div class="col-md-6">
            <input list="TenDuAn" id="DuAn" name="DuAn" onclick="this.select()" class="form-control" />
        </div>

        <datalist id="TenDuAn">
            <option value="Khu Công nghiệp và Dân cư Becamex - Bình Phước"></option>
            <option value="Khu Công nghiệp Becamex - Bình Phước"></option>
            <option value="Khu Tái định cư - Dân cư Ấp 1"></option>
            <option value="Khu Dân cư Ấp 4"></option>
            <option value="Khu Dân cư Ấp 4B"></option>
        </datalist>

    </div>

    <!-- Công trình -->
    <div class="row mb-3 text-md-end">

        <label class="col-md-3 col-form-label text-md-end">
            Công trình:
        </label>

        <div class="col-md-8">
            <input list="TenCongTrinh" id="CongTrinh" name="CongTrinh" onclick="this.select()" class="form-control" />
        </div>

        <datalist id="TenCongTrinh">
            <option value="Khu Công nghiệp và Dân cư Becamex - Bình Phước"></option>
            <option value="Khu Công nghiệp Becamex - Bình Phước"></option>
            <option value="Khu Công nghiệp - Khu B"></option>
            <option value="Khu Công nghiệp phía Bắc khu A (phía Bắc suối Cái)"></option>
            <option value="Khu Công nghiệp phía Nam khu A (phía Nam suối Cái)"></option>
            <option value="Khu Tái định cư - Dân cư Ấp 1"></option>
            <option value="Khu Dân cư Ấp 4"></option>
            <option value="Khu Dân cư Ấp 4B"></option>
        </datalist>

    </div>

    <!-- Hạng mục -->
    <div class="row mb-3 align-items-center">

        <label class="col-md-3 col-form-label text-md-end">
            Hạng mục:
        </label>

        <div class="col-md-8">
            <textarea id="HangMuc" name="HangMuc" rows="2" onclick="this.select()" class="form-control"></textarea>
        </div>
    </div>

    <!-- Địa điểm -->

    <div class="row mb-4 align-items-center">

        <label class="col-md-3 col-form-label text-md-end">
            Địa điểm:
        </label>

        <div class="col-md-6">
            <input id="DiaDiem" name="DiaDiem" value="Phường Chơn Thành, Thành phố Đồng Nai" class="form-control" />
        </div>

    </div>

    <!-- Quyết định lựa chọn đơn vị thi công -->
    <!-- Căn cứ -->
    <div class="fw-bold mb-2">
        I. Quyết định lựa chọn đơn vị thi công:<br />
        1. Căn cứ:
    </div>
    
    <textarea id="CanCu" name="CanCu" rows="16" onclick="this.select()" class="form-control mb-4"></textarea>
    <!-- nguyên nhân trình ký -->
    <div class="fw-bold mb-2">
        2. Nguyên nhân trình ký:
    </div>

    <textarea id="NguyenNhanTrinhKy" name="NguyenNhanTrinhKy" rows="26" onclick="this.select()" class="form-control col-mb-4"></textarea>

    <!-- Đơn vị thực hiện -->

    <div class="card mb-4">

        <div class="card-header fw-bold">
            3. Đơn vị thực hiện (Bên B)
        </div>

        <div class="card-body">

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">NCC</label>
                <div class="col-md-11">
                    <input id="NhaCungCap" name="NhaCungCap" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">Địa chỉ</label>
                <div class="col-md-11">
                    <input id="Diachi" name="Diachi" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">SĐT</label>
                <div class="col-md-4">
                    <input id="SoDienThoai" name="SoDienThoai" class="form-control" />
                </div>

                <label class="col-md-2 col-form-label text-md-end">Email</label>
                <div class="col-md-5">
                    <input id="Email" name="Email" value="@@gmail.com" class="form-control" />
                </div>
            </div>

            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">STK</label>
                <div class="col-md-11">
                    <input id="STK1" name="STK1" class="form-control mb-2" />
                    <input id="STK2" name="STK2" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">MST</label>
                <div class="col-md-4">
                    <input id="MST"
                           name="MST"
                           class="form-control fw-bold"
                           oninput="formatMST(this)" />
                </div>
            </div>


        <div class="row align-items-center">

            <label class="col-md-2 col-form-label">Đại diện</label>

            <div class="col-md-4">
                <input id="DaiDien" name="DaiDien"
                       value="Ông "
                       class="form-control" />
            </div>

            <label class="col-md-2 col-form-label text-md-end">Chức vụ</label>

            <div class="col-md-4">
                <select class="form-select">
                    <option>Tổng Giám đốc</option>
                    <option>Phó Tổng Giám đốc</option>
                    <option>Giám đốc</option>
                    <option>Phó Giám đốc</option>
                </select>
            </div>
            </div>

        </div>

    </div>


    <!-- Nội dung hợp đồng -->
    <div class="fw-bold mb-2">
        II. Nội dung trình ký:<br />
        1. Nội dung
    </div>

    <textarea id="NoiDung" name="NoiDung" rows="32" oneclick="this.select()" class="form-control mb-4"></textarea>

    <!-- Giá trị hợp đồng -->
    <div class="card">

    <div class="card-header fw-bold">
        2.Giá trị hợp đồng
    </div>

    <div class="card-body">
        <div class="row align-items-center">
            <label class="col-md-2 col-form-label">
                Giá trị hợp đồng:
            </label>

            <div class="col-md-4">
                <input id="Giatri" name="Giatri" class="form-control" />
            </div>
        </div>
    </div>


</div>


<script>
    function formatMST(input) {
                               let value = input.value.replace(/\s/g, '');
                               input.value = value.split('').join(' ');
                               }
</script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
